.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--menu-color);
  background-color: var(--menu-background-color);
  z-index: 10;
  box-shadow: 0 -2px 5px rgba(241, 239, 239, 0.1);
  border-radius: 2px;
  margin: 0;
}
.linkButton {
  all:unset;
}
.link {
  color: var(--menu-color);
  cursor: pointer;
}
.link:hover {
  color: var(--menu-color-hover);
}
.link:focus-visible {
  outline: 1px solid var(--menu-color-hover);
}
.link:active svg {
  transform: translateY(1px);
}


.navList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 8px 0;
  list-style: none;
  padding-bottom: calc(0.5em + var(--safe-bottom));
}

.navItem {
  text-align: center;
}


.icon {
  font-size: 1.5em;
}
